body {
  max-width: 800px;
  font-family: "Source Code Pro";
  font-size: 1.2rem;
  line-height: 1.7;
  margin: auto;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin: 2rem;
}
